body {
  margin: 0;
}
p {
  text-align: right;
  margin: 0;
}
a {
  text-decoration: none;
}
.wrapper {
  width: 100%;
  margin: 0 auto;
}
.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 .625rem;
}
.title {
  font-size: 1.25rem;
  margin: 1.875rem 0;
  text-align: center;
}
.describe {
  margin-bottom: 1.875rem;
  font-size: .875rem;
}
.button {
  padding: .625rem 1.875rem;
  margin-bottom: 1.875rem;
  background-color: #0EA923;
  border-radius: .875rem;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
}
.section1 {
  background: linear-gradient(to bottom, #1B438B, #1A6CDC);
}
.section1 p {
  color: white;
}
.section1 .img {
  width: 100%;
}
.section1 .img img {
  width: 100%;
}
.section2 .img {
  width: 100%;
  margin-top: 1.875rem;
}
.section2 .img img {
  width: 100%;
}

.section3 {
  background-color: #222222;
  color: white;
}
.section3 .title {
  margin-top: 1.875rem;
}
.section3 .describe {
  margin-bottom: 1.875rem;
}

.section4 .img {
  width: 10rem;
  height: 10rem;
  background-size: cover;
}
.section4 .img.img1 {
  background-image: url(https://images.pexels.com/photos/8350286/pexels-photo-8350286.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
}
.section4 .img.img2 {
  background-image: url(https://images.pexels.com/photos/5206273/pexels-photo-5206273.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
}
.section4 .title1 {
  font-size: 2.5rem;
}

.float-button {
  position: fixed;
  right: 1.25rem;
  bottom: 2.5rem;
  width: 3.125rem;
  height: 3.125rem;
}
.float-button img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}